test4/hoge/.libs/libhoge.YKCPBYTORWDP76PENZHG4TQPGU2B4S73.gfortran-win_amd64.dll
.vscode/launch.json
.vscode/settings.json
OregonState/CWT.py
OregonState/EqHeat_Mayavi.py
OregonState/FDTD.py
OregonState/FourierMatplot.py
OregonState/HeatCNTridiag.py
model/test1.py
src/__pycache__/__init__.cpython-36.pyc
src/pyocc/__pycache__/OCCDisplay.cpython-36.pyc
src/pyocc/__pycache__/OCCQt.cpython-36.pyc
src/pyocc/__pycache__/__init__.cpython-36.pyc
test3/compr-rotor.geo
test3/compr-rotor_geom.png
test3/dam-eplot.geo
test3/dam-eplot.inp
test3/dam-eplot_geom.png
test3/hole-fancy.geo
test3/import-dxf.geo
test3/import-dxf.inp
test3/import-dxf_chunked_areas.png
test3/import-dxf_chunked_lines.png
test3/import-dxf_chunked_points.png
test3/import-dxf_imported.png
test4/hoge.f90
test4/hoge.o
test4/hoge.cp36-win_amd64.pyd
test4/mod1.mod
test4/hoge/.libs/libhoge.ARVOGZNVCAS5YQW2HNMFAADP6H7QLLTQ.gfortran-win_amd64.dll

# Byte-compiled / optimized / DLL files

__pycache__/
*.py[cod]
*.pyc[cod]


# Jupyter Notebook
.ipynb_checkpoints
Coaxial/root.stp
src/__pycache__/Unit.cpython-36.pyc
