src/pyocc/__pycache__/__init__.cpython-36.pyc
.vscode/launch.json
.vscode/settings.json
src/__pycache__/__init__.cpython-36.pyc
src/pyocc/__pycache__/OCCDisplay.cpython-36.pyc
src/pyocc/__pycache__/OCCQt.cpython-36.pyc
